@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        /* FORCED DARK MODE */
        --color-background: 5 5 5;
        --color-surface: 18 18 18;
        --color-surface-hover: 30 30 30;
        --color-primary: 212 175 55;
        --color-border: 51 51 51;
        --color-foreground: 255 255 255;
    }
}